ENVIRONMENT=development
HTTP_PORT=8080
AUTH_SECRET=secret
DATABASE_URI=postgres://postgres:postgres@localhost:5432/go-shop-backend?sslmode=disable

SERVER_READ_TIMEOUT=10s
SERVER_WRITE_TIMEOUT=10s
SERVER_IDLE_TIMEOUT=30s

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/go-shop-backend?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations
GOOSE_TABLE=goose_migrations

CORS_ALLOW_METHODS='GET, POST, PUT, PATCH, DELETE, OPTIONS'
CORS_ALLOW_ORIGINS='http://localhost:8080, http://127.0.0.1:8080'
CORS_ALLOW_HEADERS='Authorization, Content-Type, Origin, Accept, X-Requested-With'
CORS_EXPOSE_HEADERS=Authorization
CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE=86400
CORS_ALLOW_PRIVATE_NETWORK=false